
/* *{
    box-sizing: border-box;
    margin-left: 0;
}
html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
} */
.K5 {
    width: 100%;
  
    padding: 0px 0px 0px 0px;
    background-color: white;
}


.K51 {
    margin-top: 0px;
    margin: 0px;
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30% 30px 30%;

}

.K51 > h1 {
 text-align: center;
 color: #333333;
}

.K51 > p {
 text-align: center;
 color: #666;
}

.K52 {
  
    display: flex;
    justify-content: space-between;


}
.K52 button,.K6  button{
padding: 7px 30px;
border-radius: 2px;
white-space: nowrap;
text-align: center;
color: #666;
border: 1px solid #666;
background-color: white;
}
.K52 > button {
    margin-right: 30px;
}
.K52 > button:last-child {
    margin-right: 0px;
}

.K52 a,.K6  a {
    color: black;
}

.K52 a,.K6   a:link{
    text-decoration: none;
    
}
.K52 a,.K6   a:visited{
    text-decoration: none;
    

}
.K52 a,.K6   a:hover{
    text-decoration: none;
    
}
.K52 a,.K6   a:active{
    text-decoration: none;
}
.K6 {
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color:#f3f3f3;

}
.K6 > button {
    margin-right: 20px;
    
}

.K7 {
    width: 100%;
    display: flex;
}


.K7 h3 {
margin: 0px;
 color: #333333;
}
.K7 p {
    margin: 0px;
    color: #666;
}
.K7 select {
    margin: 10px;
padding: 7px 5px;
border-radius: 2px;
white-space: nowrap;

color: #666;
/* border: 1px solid #666; */
background-color: white;
}
.K71 select {
    border: 0px;
    border-bottom: 3px solid #f3f3f3 ;
}
.K721 select {
    padding: 7px 40px;
    
}

.K71 {
    width: 20%;
}
.K71 select {
    width: 100%;
    padding: 20px 10px;
}
.K72 {
    width: 80%;
}


.K721 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;    

}
.K721 select {
   padding: 0px 20px;
    height: 40px;
}
.K721 h4 {

}


#K722 {
    padding: 20px 20px 20px 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

    
}
#K722 > div {
 padding: 20px 20px ;   


}
#K722 > div > div {
    padding: 5px 40px 5px 5px;
       width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   }
#K722 button {
    padding: 7px 30px;
    border-radius: 2px;
    white-space: nowrap;
    text-align: center;
    color: #666;
    border: 1px solid #666;
    background-color: white;
}


   
