

*{
    box-sizing: border-box;
    margin-left: 0;
}
html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}



.K10 {
    width: 100%;
    padding: 30px 10px 30px 50px;
    background-color:#f3f3f3;
    color: #333333;
    font-size: 16px;
    

}

.K10 a {
    color: #333333;
}

.K10 a:link{
    text-decoration: none;
    
}
.K10 a:visited{
    text-decoration: none;
    

}
.K10  a:hover{
    text-decoration: none;
    
}
.K10  a:active{
    text-decoration: none;
}


.K10 button {
    padding: 7px 30px;
    border-radius: 2px;
    white-space: nowrap;
    text-align: center;
    color: #333333;
    border: 0px solid #666;
    background-color: #f3f3f3;
}

.K11  button{
    padding: 18px 160px;
    border-radius: 4px;
    white-space: nowrap;
    text-align: center;
    color: #666;
    border: 1px solid #f3f3f3;
    background-color: #0579d0 ;
}

.K11 {
    width: 100%;
    display: flex;
    padding: 40px 30px 20px 30px;
    justify-content: space-between;
    /* align-items: center; */
}
.K112 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.K112 p {
margin: 8px;
}




.K11  a {
    color: #f3f3f3;
}

.K11  a:link{
    text-decoration: none;
    
}
.K11  a:visited{
    text-decoration: none;
    

}
.K11   a:hover{
    text-decoration: none;
    
}
.K11   a:active{
    text-decoration: none;
}

.Kbreakline{
    width: 100%;
    border-top:3px solid #cccccc;
    margin:0px 0px;

}

.K12 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 10px 10px 10px;
    background-color:#f3f3f3;
    color: #333333;
    font-size: 16px;
}

.K12 p {
    
    margin-left: 20px;
    font-size: 16px;
    color:#666;
}

.K13 {
    width: 100%;
    display: flex;
}
#K131 {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 50px;
    /* border:2px solid red; */
}
.K132 {
    width: 30%;
}

.K13 button{
    padding: 14px 40px;
    border-radius: 2px;
    white-space: nowrap;
    text-align: center;
    color: #666;
    border: 1px solid #666;
    background-color: white;
}
.K13 input {
    padding: 14px 30px;
    border-radius: 2px;
    white-space: nowrap;
    text-align: center;
    color: #666;
    border: 1px solid #666;
    background-color: white;
 
}

.K13  a {
    color: black;
}

.K13  a:link{
    text-decoration: none;
    
}
.K13  a:visited{
    text-decoration: none;
    

}
.K13  a:hover{
    text-decoration: none;
    
}
.K13  a:active{
    text-decoration: none;
}

.K132 > div {
    padding-right: 30px;
    display: flex;
    justify-content:space-between;
}
.K132 > button {
    margin-top: 20px;
    width: 100%;
    padding: 18px 160px;
    border-radius: 4px;
    white-space: nowrap;
    text-align: center;
    color: #666;
    border: 1px solid #f3f3f3;
    background-color: #0579d0 ;
}

.K132 > button > a {
    color: #f3f3f3;
}

.K132 a:link{
    text-decoration: none;
    
}
.K132  a:visited{
    text-decoration: none;
    

}
.K132  a:hover{
    text-decoration: none;
    
}
.K132  a:active{
    text-decoration: none;
}


#K131 > div {
    /* border:2px solid rgb(6, 6, 6); */
    display: flex;
    width: 100%;
    justify-content: space-around;
    
   
}
#K131 > div > div {
    /* border:2px solid rgb(6, 241, 108); */
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#K131 > div > div:first-child img {
width: 100%;
}
#K131 > div > div:last-child > div:nth-child(1) {
    /* border:2px solid red; */
display: flex;
justify-content: space-between;
align-items: center;
}

#K131 > div > div:last-child > div:nth-child(1) ~ div {
    /* border:2px solid red; */
display: flex;
justify-content: space-between;
align-items: center;
}
#K131 > div > div:last-child > div:nth-child(1) ~ div > div{
border: 1px solid #666;
display: flex;
justify-content: center;
align-items: center;
width: 40%;
height: 100%;

}
#K131 > div > div:last-child > div:nth-child(1) ~ div > div p {
margin: 0px;
}

#K131 > div > div:last-child  > button{

    margin-top: 20px;
}



