

      
       /* @font-face {
           font-family: 'Montserrat', sans-serif;
           src: url('https://fonts.googleapis.com/css?family=Montserrat');
           
       } */
       body{
           margin: 0px;
           padding: 0px;
       }
       nav{
           font-family: 'Montserrat', sans-serif;               
       }
        #clearance{
           background-color: #FAC3BC;
           padding: 5px;
           text-align: center;
           color: #000000;        
       }
       #clearance :nth-child(1){
           font-size: 15px;
           padding: 0px 30px 0px 0px; 
       }
       #clearance :nth-child(2){
           font-size: 25px;
       }
       #clearance :nth-child(3){
           font-size: 13px;
           padding: 0px 0px 0px 30px;
       }
       #trackorder{
           display: flex;
           justify-content: right;
           background-color:  rgb(243,243,243);
           align-items: center;
           height: 45px;
           padding: 0px 145px 0px 0px;
           color: #333333;
       }
       #trackorder img{
           width: 20px;
           height: 20px;                        
       }
       #trackorder span{
           font-size: 13px;
           padding: 0px 10px 0px 35px;
       }
       #clarks{
        display: flex;
        /* background-color: red; */
        /* justify-content: space-between;  */
        padding: 0px 0px 0px 150px;  
        gap: 2%;
        height: 70px;
        width: 100%;
        /* border: 1px solid; */
    }
      #logo{
        height: 100%;
      /* border: 1px solid; */
     }
     #logo >img{
         height: 100%;
     }
    #navbaritems{
       
     /* border: 1px solid; */
     }
     #searchCart{
         /* border: 1px solid; */
         display: flex;
         gap: 20%;
         align-items:center;
         justify-content: center;
         font-size: 25px;
         width: 20%;

     }
       hr{
           margin: 0px;                          
       }
       #shipping{
           font-size: 14px;         
           margin: 0px 0px 10px; 
       }
       #shipping div{
           background-color: #DCDCDC;
           width: 90%;
           margin: auto;            
           padding: 15px;
           text-align: center; 
           color: #333333; 
       }
       #shipping span{
           font-size: 14px;
           padding: 5px;
       }
       #shipping div :nth-child(1),#shipping div :nth-child(4) {
           text-decoration: underline solid black;                      
       }
       #shipping div :nth-child(3){
           margin-left: 15px;
           margin-right: 15px;           
       }
       #pinksection{
           display: flex;
           width: 87%;
           margin: auto;
           background-color:rgb(250,195,188);
           justify-content: space-between;
           font-family: sans-serif;
           color: #000000;
           /* font-family: ; */
       }
       #pinksection div{
           text-align: center;           
       }
       #pinksection div p:nth-child(1){
           font-size: 40px;
           margin: 0px 85px 18px;
           padding: 45px 30px 0px;            
       }
       #pinksection div p:nth-child(2){
           font-size: 22px;
           margin: 0px 125px 18px;
       }
       #pinksection div p:nth-child(3){
           font-size: 100px;
           margin: 0px 125px 18px;
           padding: 0px 0px 30px;   
       }
       #pinksection div p:nth-child(4){
           background-color: #000000;
           color: #FFFFFF;
           font-size: 25px;
           margin: 0px 90px 18px; 
       }
       #pinksection div p:nth-child(5){
           font-size: 17px;
           /* font-family: ; */
           margin: 0px 125px 18px; 
           padding: 0px 0px 10px;   
       }
       #pinksection div span:nth-child(6) button{
           background-color: #000000;
           color: #FFFFFF;
           font-size: 14px;
           margin: 0px 10px 10px;
           padding:10px 28px;
           border-radius: 5px; 
       }
       #pinksection div p:nth-child(7){
           font-size: 12px;
           margin: 10px 0px 25px 0px;
       }
       #pinksection div p:nth-child(7) span{
           text-decoration: underline solid black;
       }
  
*{
    box-sizing: border-box;
    margin-left: 0;
}
html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}
.K1 {
    width: 100%;
    border: 2px solid red;
    padding: 0px 0px 0px 0px;
    background-color: #d0c9b9;
}
.K1 > image {
    width: 100%;
    margin: 0px;
    margin-bottom: 0px;
}

.K11 {
    margin-top: 0px;
    margin: 0px;
    width: 100%;
    border: 2px solid rgb(14, 13, 13);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 30% 60px 30%;

}

.K11 > h1 {
 text-align: center;
}

.K11 > p {
 text-align: center;
}

.K12 {
    border: 2px solid rgb(15, 173, 110);
    display: flex;
    justify-content: space-between;


}
.K12  button{
padding: 7px 30px;
border-radius: 2px;
}
.K12 > button:first-child {
    margin-right: 30px;
}

.K12  a {
    color: black;
}

.K12  a:link{
    text-decoration: none;
    
}
.K12  a:visited{
    text-decoration: none;
    

}
.K12  a:hover{
    text-decoration: none;
    
}
.K12  a:active{
    text-decoration: none;
}

.K2 {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    border: 2px solid red;
    padding: 4px 4px;
    background-color: #045c9e;
    color: white;
    font-size: 17.5px;
    font-weight: 600;
}

.K21 {
    border: 3px solid whitesmoke;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
.K21  a{
    padding-left: 50px;
}
.K21 span {
    font-weight: bolder;
}


.K21  a {
    color: white;
}

.K21  a:link{
    
    
}
.K21  a:visited{
    text-decoration: none;
    

}
.K21  a:hover{
    text-decoration: none;
    
}
.K21  a:active{
    text-decoration: none;
}

.K3 {
    width: 100%;
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;

    gap: 40px;
    padding: 0px 40px;
}

.K3 img {
    width: 100%;
    z-index: -1;
}


.K32 {
    z-index: 1;
}



.K4 {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    border: 2px solid red;
    padding: 4px 4px;
    background-color: #fcb3c7;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.K41 {
    
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: black;
}
.K41 img {
    width: 7%;
}

.K41  a{
    padding-left: 50px;
    color: black;
    font-size: 13px;
}

.K41  a:link{
    
    
}
.K41  a:visited{
    text-decoration: none;
    

}
.K41  a:hover{
    text-decoration: none;
    
}
.K41  a:active{
    text-decoration: none;
}
/* ----------------------fw23_0018(Shivansh Soni)_CSS_Start------------------------- */
.S_firstImage {
    width: 100%;
    margin-bottom: 20px;
}

.S_WINTER_REBOOT_heading {
    font-size: 25px;
    line-height: 1;
    letter-spacing: -.5px;
    font-family: Montserrat, sans-serif;
    color: #333;
}
#S_winter_div{
    background-color: #f3f3f3;
    padding: 1% 0%;
}
#S_winter_innerdiv{
    margin: auto;
    width: 40%;
    text-align: center;
}
#S_winter_innerdiv>p{
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    line-height: 1.5;
    text-align: center;
}
#S_winter_innerdiv div >button{
padding: 10px 30px;
background-color: white;
}
#S_container{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    height: auto
}
#S_container>div{
    margin: auto;
    width: 45%;
    gap: 20px;
    height: 100%;
    text-align: center;
}
#S_container>div>img{
    width: 100%;
}
#S_container>div>p{
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    line-height: 1.5;
    text-align: center;
    color: #333;
}
#S_container>div div >button{
    padding: 5px 20px;
    background-color: white;
    }
#S_container>div div >button:hover{
    background-color: rgb(63, 63, 63);
    color: white;
}

/* ------------------------navbarStyling------------------------ */

#navWomen{
    height: 300px;
    width: 99.99%;
    border: 1px solid black;
    display: none;
    position: absolute;
    z-index: 1;
    background-color:#f3f3f3; 
}
#navMen{
    height: 300px;
    width: 99.99%;
    border: 1px solid black;
    display: none;
    position: absolute;
    z-index: 1;
    background-color:#473939; 
}
#navKids{
    height: 300px;
    width: 99.99%;
    border: 1px solid black;
    display: none;
    position: absolute;
    z-index: 1;
    background-color:#f3f3f3; 
}
#navOriginal{
    height: 300px;
    width: 99.99%;
    border: 1px solid black;
    display: none;
    position: absolute;
    z-index: 1;
    background-color:#f3f3f3; 
}
#navAcces{
    height: 300px;
    width: 99.99%;
    border: 1px solid black;
    display: none;
    position: absolute;
    z-index: 1;
    background-color:#f3f3f3; 
}
#navSale{
    height: 300px;
    width: 99.99%;
    border: 1px solid black;
    display: none;
    position: absolute;
    z-index: 1;
    background-color:#f3f3f3; 
}
#navSustain{
    height: 300px;
    width: 99.99%;
    border: 1px solid black;
    display: none;
    position: absolute;
    z-index: 1;
    background-color:#f3f3f3; 
    
}



/* ----------------------fw23_0018(Shivansh Soni)_CSS_End------------------------- */
