/* ----------------------fw23_0018(Shivansh Soni)_CSS_Start------------------------- */
.S_firstImage {
    width: 100%;
    margin-bottom: 20px;
}

.S_WINTER_REBOOT_heading {
    font-size: 25px;
    line-height: 1;
    letter-spacing: -.5px;
    font-family: Montserrat, sans-serif;
    color: #333;
}
#S_winter_div{
    background-color: #f3f3f3;
    padding: 1% 0%;
}
#S_winter_innerdiv{
    margin: auto;
    width: 40%;
    text-align: center;
}
#S_winter_innerdiv>p{
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    line-height: 1.5;
    text-align: center;
}
#S_winter_innerdiv div >button{
padding: 10px 30px;
background-color: white;
}
#S_container{
    margin-top: 2%;
    display: flex;
    height: auto
}
#S_container>div{
    margin: auto;
    width: 45%;
    gap: 20px;
    height: 100%;
    text-align: center;
}
#S_container>div>img{
    width: 100%;
}
#S_container>div>p{
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    line-height: 1.5;
    text-align: center;
    color: #333;
}
#S_container>div div >button{
    padding: 5px 20px;
    background-color: white;
    }
#S_container>div div >button:hover{
    background-color: rgb(63, 63, 63);
    color: white;
}

/* ----------------------fw23_0018(Shivansh Soni)_CSS_End------------------------- */